/* ------------ОБНУЛЕНИЕ-------- */
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 14px;
  line-height: 1;
  font-family: 'Montserrat';
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: #ffffff;
}

ul li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

/* -------------------------- */
.app {
  padding: 50px 0px;
  background: linear-gradient(rgb(119, 241, 119), rgb(16, 85, 13));
  height: 100%;
}

.app__card {
  max-width: 400px;
  margin: 0px auto;
  min-height: 400px;
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.5);
}

.form {
  margin-bottom: 50px;
}

.form__item {
  width: 45%;
}

.form__item__label {
  padding: 10px;
  color: rgba(0, 0, 0, 0.5);
}

.select__wrap {
  position: relative;
}

.select__wrap::after,
.select__wrap::before {
  position: absolute;
  content: "";
  background: rgba(51, 51, 51, 0.5);
  width: 10px;
  height: 1px;
  top: 22px;
  z-index: 5;
}

.select__wrap::before {
  transform: rotate(45deg);
  right: 18px;
}

.select__wrap::after {
  transform: rotate(-45deg);
  right: 12px;
}

.input {
  width: 100%;
  height: 40px;
  border: 2px solid #ccc;
  border-radius: 15px;
  padding: 0px 0px 0px 15px;
  appearance: none;
  transition: all 0.5s ease 0s;
  font-weight: 700;
  font-size: 18px;
}

.input:focus {
  border: 2px solid rgb(77, 238, 112);
}

.amount {
  width: 100%;
  margin: 0px auto 20px auto;
}

.form__group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* ----------------------- */
.out {
  text-align: center;
}

.out__one {
  color: #17ad37;
  position: relative;
}

.out__one::after,
.out__one::before {
  position: absolute;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  top: 50%;
  height: 2px;
  width: 49px;
}

.out__one::after {
  left: 15px;
}

.out__one::before {
  right: 15px;
}

.out__all {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.8);
}

.out__all__to {
  padding-left: 10px;
  font-size: 22px;
}

@media screen and (max-width: 500px) {
  .app {
    padding: 0;
  }

  .app__card {
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    border: 10px solid #17ad37;
    padding-bottom: 50px;
  }

  .out__one::after,
  .out__one::before {
    width: 0;
  }
}

/* decor */

.decor {
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  font-weight: 700;
  color: rgb(241, 239, 106);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 20px auto;
  background: linear-gradient(rgb(243, 241, 129), rgb(153, 151, 8));
  position: relative;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3), -3px -3px 6px rgba(0, 0, 0, 0.3);
}

.decor::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 15px;
  height: 100%;
  background: rgba(2255, 255, 255, 0.6);
  transform: translateX(-50px) skewX(-45deg);
  transition: 0.3s;

  animation-name: move-light;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-delay: 3s;
}

@keyframes move-light {
  0% {
    transform: translateX(-50px) skewX(-45deg);
  }

  7% {
    transform: translateX(140px) skewX(-45deg);
  }

  100% {
    transform: translateX(140px) skewX(-44deg);
  }
}